 <header>
        <img src="/picture/logo.png" alt="">
    </header>
    <main>
        <div class="block">
            <h1>Staff</h1>
            <p>Use your staff or area manager account to login</p>
            <div class="btn"><button onclick="javascript:window.location.href='/staff'">Login</button></div>
        </div><div class="block">
            <h1>Managers</h1>
            <p>Use your area or general manager account to login</p>
            <div class="btn"><button onclick="javascript:window.location.href='/manager'">Login</button></div>
        </div>
    </main>
    <footer></footer>