<header>
        <img src="/picture/logo.png" alt="">
    </header>
    <main>
        <div>
            <h1>Staff</h1>
            <form action="" method="post">
                <p>ID Number or email</p>
                <span>
                    <img src="/picture/user.png" >
                    <input type="text" name="email" id="email">
                </span><br>
                <p>Password</p>
                <span>
                    <img src="/picture/lock.png">
                    <input type="password" name="password" id="password">
                </span><br>
                <input type="submit" value="Login">
            </form>
        </div>
        
    </main>
    <footer></footer>

{{#if message}}
<script>
    alert("invalid account or password!");
</script>
{{/if}}