<header>
        <img src="../picture/logo.png" alt="">
    </header>
    <main>
        <div>
            <h1>General Manager</h1>
            <form action="./generalManager.html">
                <p>ID Number or email</p>
                <span>
                    <img src="../picture/user.png" >
                    <input type="text" >
                </span><br>
                <p>Password</p>
                <span>
                    <img src="../picture/lock.png">
                    <input type="password" >
                </span><br>
                <input type="submit" value="Login">
            </form>
        </div>
        
    </main>
    <footer></footer>