body,p,section,nav,header,h2,h3,h4,h5{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
input{
	margin: 0;
	padding: 0;
}
img{
	border: none;
	vertical-align: middle;
}

body{
    width: 100%;
    height: 100%;
    background: url("../picture/homebac.jpeg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.div1{
    width: 1354px;
    height: 675px;
    margin: 0 auto;
    
}
.logo{
   width: 161px;
   height: 161px;
   float: right;
 
}
.block{
    display: inline-block;
    width: 675px;
    height: 675px;
    border: 1px solid #707070;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 0.77;
    margin-top: 25%;
    
}
h1{
    font-size: 48px;
    margin-top: 56px;
    margin-bottom: 0;
}
p{
    display: inline-block;
    width: 552px;
    height: 135px;
    font-family: Arial;
    font-size: 36px;
    line-height: 42px;
    margin-top: 161px;
}
button{
    margin-top: 115px;
    width: 328px;
    height: 89px;
    background-color: #538E9F;
    border: none;
    border-radius: 33px;
    font: 42px/56px Luminari ;
    color: #FFFFFF;
}
button:hover{
    background-color: #376E7E;
}
