#crea{
    display:none;
}

#crea form{
    margin-top: 130px;
    margin-left: 97px;
}
#crea form span{
    font: 32px/130px Arial;
}
#crea form .creatName,#crea form #genderbox,#crea form #position,#crea form #email,#crea form #contactNum
{
    width: 310px;
    height: 56px;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    margin-right: 140px;
    border-radius: 15px;
}
#crea form #genderbox{
    position: relative;
    left: 44.4px;
}
#crea form #position{
    position: relative;
    left: 37.57px;
}
#crea form #email{
    width: 800px;
    position: relative;
    left: 71.12px;
    margin-right: 30px;
}
#crea form .checkPass,#crea form .checkFail{
    position: absolute;
    margin-top: 36px;
    margin-left: 60px;
}
#crea form .checkPass{
    display: none;
}
#crea form .checkFail{
    display: inline-block;
}
#crea form #contactNum{
    width: 720px;
}
#crea form #submit{
    width: 276px;
    height: 90px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 3px gray;
    margin-top: 100px;
    margin-left: 400px;
}
#crea form #submit:hover{
    background-color: rgb(182, 182, 182);
}


#staf{
    display: none;
}
#staf table{
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
}
#staf table th{
    font: 25px/52px Arial;
    font-weight: bold;
}
#staf table td{
    height: 60px;
}