*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    background-color: #F4F2F2; 
}

.left{
    color: white;
    flex: 2;
    background-color: #3D5967;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.left #name{
    font: 62px/71px Arial;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10pxpx;
}
.left #position{
    text-align: center;
    font: 27px/31px Arial;
}
#main{
    width: 100%;
}

#main div{
    font: 38px/77px Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


#overview{
    background-color: #fff;
    color: black;
}

.content{
    flex: 8;
    display: flex;
    flex-direction: column;
}


/* overciew Part */
#over{
    /* display: none; */
}
#over div{
    height: 50%;
    display: flex;
}
#over .chart{
    flex: 7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#over  span{
    font: 32px/37px Arial;
    margin-bottom: 20px;
}
#over svg{
    background-color: white;
}
#over .type{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#over .type label{
    margin-bottom: 10px;
    font: 30px/34px Arial;
}
#over .type .radio input{
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
}


/* usage Part */
#usag{
    display: none;
    /* display: block; */
    overflow-y: scroll;
   
}
#usag .device,#addNewDevice .device{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
#usag .device .deviceInf, #addNewDevice .device .deviceInf{
    background-color: white;
    width: 600px;
    border-radius: 30px;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    padding: 0 30px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#usag .device .btn2,#addNewDevice .device .btn2{
    background-color: #3D5967;
    color: white;
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 165px;
    height: 56px;
    border: none;
    border-radius: 28px;
    font-weight: bold;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
#usag .device input,#addNewDevice .device input{
    
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
    border: solid 1px #707070;
    border-radius: 5px;
    padding-left: 10px;
    font: 25px/40px Arial;
}
#usag img, #addNewDevice img{
    width: 387px;
    height: 500px;
    border-radius: 20px;
}


/* Data Part */
#data{
    display: none;
}
#data .topFilter{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    
}
#data .topFilter span{
    font-size: 30px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#data .topFilter .box{
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}
#data a{
    font: 20px/60px Arial;
    color: black;
}
#data a:hover{
    color: blue;
}


/* table */
#data table{
    width: 85%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#data table td{
    height: 60px;
}
#data table tr:nth-child(odd){
    background-color: #e4f6ff;
}
#data table tr:nth-child(even){
    background-color: #fff;
}
#data table th{
    background-color: white;
    height: 80px;
}

#data table .on{
    background-color: green;
}
#data table .off{
    background-color: red;
}
.lastRow{
    background-color: #fff;
    font-weight: bold;
}
#data .sort, .sort-desc {
    background: url(../picture/sorticon.png) no-repeat 4% 26px;
    background-color: #fff;
    background-size: 12px 24px;
}
#data .sort-asc{
    background: url(../picture/sorticon-2.jpg) no-repeat 4% 26px;
    background-size: 12px 24px;
    background-color: #fff;
}



#prof{
    display: none;
    align-items: center;
    
}
#prof #detail{
    display: flex;
    font: 38px/51px Arial;
    font-weight: bold;
    align-items: center;
    margin-top: 30px;
}
#prof .person{
    width: 90%;
    height: 80%;
    background-color: #fff;
    border-radius: 58px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
   
}
#prof .person .attr{
    display: flex;
    padding-left: 66px;
    border-top: 3px solid #a9a9a9;
}
#prof .person .attr:last-child,#prof .person .attr:first-child{
    border-top: none;
}

#prof .person span{
    font: 30px/80px Arial;
    font-weight: bold;
}
#last{
    margin-left: 30px;
}
#prof .person .name input{
    width:150px;
    height: 35px;
    margin-left: 1rem;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}
#prof .person .name input:hover{
    background-color: rgb(233, 233, 233);
}
#prof .person .name img{
    height: 25px;
    position: relative;
    top: 3px;
}
.genderBox{
    margin-left: 140px;
    font-size: 30px;
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    text-align: center;

}

#prof .saveAll{
    width:100%;
}
#prof .savebtn{
    width: 25%;
    font: 28px/50px Arial;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #67c4f3;
    border: none;
}
#prof .savebtn:hover{
    background-color: #3fbcfa;
}

.text1{
    margin-left: 150px;
}
.text2{
    margin-left: 180px;
}
.contact{
    align-items: center;
}
.text3{
    margin-left: 30px;
    height: 40px;
    font-size: 26px;
    margin-right: 10px;
}
.text4{
    margin-left: 130px;
}

/* changePassword */
#changePassword{
    display: none;
}
#changeContent #title, #changeSucc #title{
    margin-left: 57px;
}
#changeContent span, #changeSucc span{
    color: #AFAFAF;
    font: 32px/127px Arial;
    margin-top: 30px;
}
#changeContent #part2,#changeSucc #part2{
    color: black;
}
#changeContent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#changeContent p{
    font: 32px/40px Arial;
    color: black;
    font-weight: bold;
    margin-left: 8%;
}
#changeContent input{
    width: 60%;
    height: 90px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 8%;
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 30px
    
}
#changeContent svg{
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    
}
#btn{
    margin-left:20%;
    margin-bottom: 10px;
    width: 35%;
    height: 93px;
    border-radius: 30px;
    font-size: 38px;
}
#changePassword .pass{
    display: none;
}
#changePassword .fail{
    display: inline-block;
} 
#changePassword .validation{
    
    margin-left: 8%;
    width: 54%;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
#changePassword #newPassword{
    margin-bottom: 10px;
}
#changePassword .validation ul{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 #changePassword .validation ul li{
    position: relative;
    list-style: none;
    color: black;
    font-size: 20px;
    transition: 0.5s;
 }
#changePassword .validation ul li.valid{
    color: green;
}
#changePassword .validation ul li::before{
    content: "\f192";
    font-family: fontAwesome;
    margin-right: 10px;
}
#changePassword .validation ul li.valid::before{
    content: "\f00c";
}
#changePassword #passOld{
    display: inline-block;
}
#changePassword #failOld{
    display: none;
}


#changeSucc{
    display: none;
}
#changeSucc #pswdChangeSucc{
    color: black;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10%;
}
#changeSucc svg{

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}
#changeSucc a{
    text-align: center;
    margin-top: 10%;
    font: 38px/51px Arial;
    color: black;
}

