*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../picture/homebac.jpeg");
    background-size: cover;
    
}
img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 10px;
}

header, footer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
main{
    
    flex: 8 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block{
    border: solid 1px black;
    width: 600px;
    height: 700px;
    background-color: white;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.block h1, .block p, .block .btn{
    flex: 1;
    display: flex;
    align-items: center;
}
.block h1{
    font-size: 40px; 
    opacity: 1.5;
}
.block p{
    width: 400px;
    font-family: Arial;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    opacity: 1.3;
}
.block button{
    width: 328px;
    height: 90px;
    background-color: #538E9F;
    border: none;
    border-radius: 33px;
    font: 38px/56px Luminari ;
    color: #FFFFFF;
    
}
.block button:hover{
    background-color: #376E7E;
}

